.header {
  background: linear-gradient(90deg, #51b6f0, #195f99);
  color: #fff;
  padding: 20px;
  padding-top: 50px; /* Aumenta el padding superior */
  padding-bottom: 50px; /* Aumenta el padding inferior */
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-bottom: 0; /* clave: sin padding inferior */
  width: 100%;
  display: flex;
  justify-content: center; /* Distribuye el espacio entre el contenido del header y la barra de navegación */
  align-items: center;
}

.header__logo {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.header__logo:hover {
  opacity: 0.9;
}
