.header {
  background: linear-gradient(90deg, #51b6f0, #195f99);
  color: #fff;
  padding: 20px;
  padding-top: 100px; /* Aumenta el padding superior */
  padding-bottom: 50px; /* Aumenta el padding inferior */
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-bottom: 0; /* clave: sin padding inferior */
  width: 100%;
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center;
  flex-direction: column; /* Apila los elementos verticalmente */
  min-height: 80px; /* Establece una altura mínima para el header */
}

.header__logo {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px; /* Agrega espacio entre el logo y las pestañas */
}

.header__logo:hover {
  opacity: 0.9;
}
