<nav class="navbar">
  <ul class="navbar__menu">
    <li class="navbar__item"><a href="/" class="navbar__link">Inicio</a></li>
    <li class="navbar__item"><a href="/libros" class="navbar__link">Libros</a></li>
    <li class="navbar__item"><a href="/autores" class="navbar__link">Autores</a></li>
    <li class="navbar__item"><a href="/contacto" class="navbar__link">Contacto</a></li>
  </ul>

  <div class="navbar__toggle" id="mobile-menu">
    <span class="navbar__toggle-bar"></span>
    <span class="navbar__toggle-bar"></span>
    <span class="navbar__toggle-bar"></span>
  </div>
</nav>

